<article class="main-article container-fluid">
    <div class="row align-items-start">
        <section class="conteiner main-section col">
                <div class="container col tasks-zone backlog pb-1 overflow-auto">
                    <div class="tasks-zone__name">
                        <p>Backlog</p>
                    </div>
                    <div id="backlog">
                    </div>
                    <button type="button" class="tasks-zone__button btn ps-0" id="backlog_btn__add">
                        + Add cart
                    </button>
                    <input class="form-control text-wrap" type="text" id="backlog_input">
                    <button class="btn btn-primary backlog_btn_sabmit mt-2 mb-2" type="submit" id="backlog_btn__sabmit">
                        Sabmit
                    </button>
                </div>
        </section>
        <section class="main-section col">
                <div class="container col tasks-zone ready pb-1">
                    <div class="tasks-zone__name">
                        <p>Ready</p>
                    </div>
                    <div id="ready">
                    </div>
                    <button type="button" class="tasks-zone__button btn ps-0">
                        + Add cart
                    </button>
                </div>
        </section>
        <section class="main-section col">
                <div class="container col tasks-zone in-progress pb-1">
                    <div class="tasks-zone__name">
                        <p>In Progress</p>
                    </div>
                    <div id="in-progress">
                    </div>
                    <button type="button" class="tasks-zone__button btn ps-0">
                        + Add cart
                    </button>
                </div>
        </section>
        <section class="main-section col">
                <div class="container col tasks-zone finished pb-1">
                    <div class="tasks-zone__name">
                        <p>Finished</p>
                    </div>
                    <div id="finished">
                    </div>
                    <button type="button" class="tasks-zone__button btn ps-0">
                        + Add cart
                    </button>
                </div>
        </section>
    </div>
</article>