#app-login-btn {
  width: 160px;
}

.navbar {
  background-color: rgb(0, 103, 163);
}

.navbar-brand {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

.body {
  width: 1235px;
  height: 700px;
}

.main {
  background: rgb(0, 121, 191);
  height: 590px;
}

.header {
  height: 55px;
}

.footer {
  background-color: rgb(0, 103, 163);
  height: 55px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.nav-item {
  padding-right: 36px;
  padding-top: 12px;
}

.footer-developerd {
  padding-top: 12px;
}

.rotated {
  transform: rotate(180deg);
}

.tasks-zone {
  background: rgb(235, 236, 240);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.main-article {
  padding-top: 20px;
}

.tasks-zone__task {
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.tasks-zone__name {
  padding-top: 15px;
}

.tasks-zone__button {
  color: rgb(94, 108, 132);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border: none;
}

#backlog_btn__sabmit {
  display: none;
  background: rgb(0, 121, 191);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

#backlog_input {
 display: none;
}


.tasks-zone {
  max-height: 540px;
}

.tasks-zone::-webkit-scrollbar-thumb:hover {
  background: rgb(203, 203, 203) !important;
}

.tasks-zone::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(255, 255, 255);
}
.tasks-zone::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(203, 203, 203);
}

.tasks-editor, .admin-editor {
  display: none;
}

.admin-editor {
  width: 1211px;
  height: 548px;
}

.tasks-editor-window, .admin-editor-window {
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 1211px;
  height: 548px;
}

.tasks-editor__name {
  all: unset;
  width: 621px;
  height: 28px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left; 
}

.admin-editor__login {
  /* all: unset; */
  width: 621px;
  height: 28px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left; 
}

.tasks-editor__name:focus, 
.tasks-editor__description:focus,
.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.tasks-editor__description {
  all: unset;
  width: 621px;
  height: 430px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.admin-editor__password {
  /* all: unset; */
  width: 621px;
  height: 28px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.addUser, .deleteUser {
  text-align: center;
}


.admin-editor p  {
  color: rgb(0, 0, 0);
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
}


.tasks-editor__description::-webkit-scrollbar-thumb:hover {
  background: rgb(203, 203, 203) !important;
}

.tasks-editor__description::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(255, 255, 255);
}
.tasks-editor__description::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(203, 203, 203);
}

.bi {
  color: black;
  font-size: 200px;
}

.tasks-editor-btn__delete {
  margin-top: 430px;
  margin-right: 20px;
}

.alert {
  margin-bottom: 0px;
  height: 38px;
}

.btn-close {
  margin-top: -10px;
}

.btn-group {
  margin-left: 20px;
  margin-right: 20px;
  background: rgb(203, 203, 203)
}

.header-btn {
  margin-left: auto;
}

.header-btn__delete-users {
  margin-left: 20px;
}

.conteiner-admin-editor__btn {
  margin-top: -480px;
}